:root {
	--black: #1d2021;
	--darkGray: #928374;
	--lightGray: #a89984;
	--white: #ebdbb2;
	--darkRed: #cc241d;
	--darkPurple: #b16286;
	--darkBlue: #458588;
	--darkYellow: #d79921;
	--darkGreen: #98971a;
	--darkTeal: #689d6a;
	--lightRed: #fb4934;
	--lightPurple: #d3869b;
	--lightBlue: #83a598;
	--lightYellow: #fabd2f;
	--lightGreen: #b8bb26;
	--lightTeal: #8ec07c;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	padding: 0px;
	margin: 0px;
}

body {
	display: flex;
	flex-wrap: wrap;

	height: 100%;
	width: 100%;

	padding: 0px;
	margin: 0px;

	background-color: #1d2021;
}

.border {
	border: calc(1vh + 1vw) solid #1d2021;
}

.white {
	background-color: #ebdbb2;
}

.black {
	background-color: #1d2021;
}

.blue {
	background-color: #458588;
}

.red {
	background-color: #cc241d;
}

.yellow {
	background-color: #fabd2f;
}
